PORT=3003

# BANCO ERP
DB_ERP_USER=usuario_erp
DB_ERP_PASSWORD=senha_erp
DB_ERP_SERVER=ip_ou_servidor_erp
DB_ERP_NAME=nome_banco_erp

# BANCO LOCAL
DB_LOCAL_USER=usuario_local
DB_LOCAL_PASSWORD=senha_local
DB_LOCAL_SERVER=localhost
DB_LOCAL_NAME=nome_banco_local